<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  
    <add key="PostgresServer" value="lrgs1"/>
    <add key="TimeSeriesDatabaseName" value="timeseries"/>
    <add key="PostgresUser" value="hydromet"/>
    <add key="PostgresTableOwner" value="hydromet"/>
    <add key="LocalConfigurationDataPath" value="c:\Hydromettools\cfg"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="InternalNetworkPrefix" value="140."/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
