<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp001\pndata\pn6200\Hydromet\software\ConfigurationData"/>
  <add key="LocalConfigurationDataPath2" value="C:\Users\KTarbet\Documents\project\Hydromet\ConfigurationData"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
