<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  
    <add key="PostgresServer" value="lrgs1" />
    <add key="TimeSeriesDatabaseName" value="timeseries" />
    <add key="PostgresUser" value="hydromet" />
    <add key="PostgresTableOwner" value="hydromet" />
    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp01\common\PN6200\Hydromet\ConfigurationData" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="InternalNetworkPrefix" value="140."/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AwdbWebServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wcc.sc.egov.usda.gov/awdbWebService/services"
        binding="basicHttpBinding" bindingConfiguration="AwdbWebServiceSoapBinding"
        contract="Nrcs.AwdbWebService" name="AwdbWebServiceImplPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
